<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{{ title|default('gladis.org') }}</title>
</head>
<body>
    {% if navigation %}
    <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<p>
{% if session.user %}
    Hallo {{ session.user }}! <a href="{{url_for('logout')}}">Logout</a>
{% else %}
    <a href="{{url_for('login')}}">Login</a>
{% endif %}
 <a href="{{url_for('topuser')}}" style="margin-left: 30px">Top User Liste</a>
</p>
    <h1><a href="{{ url_for('next_page')  }}">Nächste Seite</a></h1>
{% block content %}{% endblock %}
</body>
</html>
